<article>
    <h2>Post Title</h2>
    <p>
        Post content! This is really good and original content that I did NOT just make up off the top of my head!!
    </p>
    <p>Author</p>
    <p>Date</p>
</article>