<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Blog Create Account</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav><a href="/">Home</a></nav>

    <form action="/create-account" method="post">

        <h2>Create Account</h2>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <button type="submit" id="submit">Create Account</button>
    </form>
</body>
<script src="script.js"></script>
</html>